@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
body{
    height: 100vh;
    position: relative;
}
@media only screen and (min-width: 1440px) {
    body{
        padding: 0 240px;
    }
}
.main{
    position: relative;
}
.header{
    height: 10vh;
    margin: 0 2vh;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.menu{
    width: 60vh;
    display: flex;
    justify-content: space-around;
    margin-left: 40px;
    color: rgba(0, 0, 0, 0.5);
}
.menu-compact{
    display: none;
}
@media only screen and (max-width: 1023px) {
    .header{
        border-bottom:none
    }
    .menu-compact{
        display: inline-block;
        margin: 0 2vh;
    }
    .menu{
        display: none;
    }
}
.menu li{
    list-style-type: none;
    cursor: pointer;
    line-height: 10vh;
}
.hover-bar{
    width: 100%;
    height: 2px;
}
.menu li:hover{
    color: #000;
    cursor: pointer;
}
.menu li:hover .hover-bar{
    background-color: hsl(26, 100%, 55%);;
}
.personal-info{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.shopping-cart{
    width: 12%;
    position: relative;
}
.avatar{
    width: 26%;
    margin-left: 40px;
}

.shopping-cart>img, .avatar>img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}
.cart-list{
    position: absolute;
    top: 5vh;
    left: -12vw;
    width: 24vw;
    box-shadow:   0px 10px 18px hsl(220, 14%, 75%);
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    z-index: 1;
}
.hide{
    display: none;
}
.cart-products{
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 20px;
}
.cart-products li{
    width: 100%;
    height: 80px;
    list-style-type: none;
    padding: 12px 0;
}
.cart-empty{
    height: 12vh !important;
    text-align: center;
    font-weight: 700;
    margin-top: 60px;
}
.cart-product{
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 1023px) {
    .avatar{
        width: 20%;
        margin-left: 2vh;
    }
    .cart-list{
        width: 96vw;
        position: absolute;
        transform: translateX(8px);        
        left: auto;
    }
    .cart-products li{
        height: 12vh;
    }
    .product-detail{
        margin-left: 1vh;
    }
}
.icon-cart-section{
    position: relative;
    cursor: pointer;
}
.product-count{
    position: absolute;
    background-color: hsl(26, 100%, 55%);
    color: white;
    top: -5px;
    right: -5px;
    height: 12px;
    width: 17px;
    font-size: 10px;
    text-align: center;
    border-radius: 6px;
}
.product-thumbnail{
    height: auto;
    width: auto;
    border-radius: 5px;
}
.product-detail{
    display: flex;
    flex-direction: column;
}
.product-detail p{
    height: 100%;
}
.product-delete {
    height: 35%;
    width: auto;
    margin: auto 0px;
}
.title-cart{
    height: 10vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 10vh;
    padding-left: 20px;
    font-weight: 600;
}
.content{
    display: flex;
    padding: 10vh 5vw 0;
}
.product-images{
    flex: 1;
    padding-right: 15vh;
}
.image-display{
    width: 100%;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    align-items: center;
}
.image-display .previous, .image-display .next{
    display: none;
}
@media only screen and (max-width: 1023px) {
    image-display{
        position: relative;
        
    }
    .image-display .previous, .image-display .next{
        display: initial;
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .image-display .previous img, .image-display .next img{
        height: auto;
        width: auto;
    }
    .image-display .previous{
        left: 10px;
    }
    .image-display .next{
        right: 10px;
    }

}
.image-display img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-gallery,.image-gallery-popup{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
@media only screen and (max-width: 1023px) {
    .content{
        padding: 0;
        flex-direction: column;
    }
    .product-images{
        padding-right: 0;
    }
    
    .image-gallery{
        display: none;
    }
    .image-display{
        border-radius: 0;
        height: 44vh;
    }
}
.image-gallery li, .image-gallery-popup li{
    list-style-type: none;
    width: 20%;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
}
.active-image{
    border: 4px solid hsl(26, 100%, 55%);
}
.image-gallery li img,.image-gallery-popup li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-gallery li img:hover, .image-gallery-popup li img:hover{
    opacity: 0.3;
}
.product-info-and-payment{
    flex: 1;
    padding-top: 5vh;
    font-size: 1vw;
}
.company-name{
    color: hsl(26, 100%, 55%);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.product-name{
    font-size: 2.5vw;
}

.product-info{
    color: hsl(219, 9%, 45%);
    padding-top: 4vh;
}

.current-price{
    padding-top: 3vh;
    display: flex;
    align-items: center;
}
.discount-alert{
    margin-left: 20px;
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    font-weight: 600;
    padding: 2px 8px;
    text-align: center;
    border-radius: 5px;
}
.old-price{
    margin-top: 2vh;
    font-weight: 600;
    opacity: 0.3;
    text-decoration: line-through
}
@media only screen and (max-width: 1023px) {
    .product-info-and-payment{
        padding: 2vh 2vh;
        font-size: 0.8em;
    }
    .product-name{
        font-size: 2.2em;
    }
    .product-info{
        padding-top: 2vh;
        font-size: 1.2em;
    }
    .price{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .current-price{
        font-size: 1.5em;
    }
    .discount-alert{
        font-size: 0.8em;
    }
    .old-price{
        margin-top: 4vh;
        font-size: 1.2em;
    }
}
.payment-info{
    margin-top: 3vh;
    display: flex;
    height: 7vh;
}
.change-number-product{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    flex: 1.5;
    height: 68px;
}
.decrease, .increase{
    border: none;
    outline: none;
    flex: 1;
    background-color:  hsl(223, 64%, 98%);
    cursor: pointer;
}
.decrease:hover img, .increase:hover img{
    opacity: 50%;
}
.number-product{
    background-color:  hsl(223, 64%, 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    font-weight: 600;
    flex: 2;
}
.btn {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: hsl(26, 100%, 55%);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}
.add-product{
    flex: 3;
    margin-left: 16px;
    box-shadow: 0px 30px 10px hsl(25, 100%, 94%);
}
.add-product:hover{
    opacity: 50%;
}
.add-product img{
    color: white;
    filter: brightness(500%);
    width: 16px;
    margin-right: 16px;
}
@media only screen and (max-width: 1023px) {
    .payment-info{
        flex-direction: column;
        height: auto;
    }
    .change-number-product{
        height: 4em;
        margin-bottom: 15px;
    }
    .add-product{
        margin-left: auto;
        line-height: 3em;
    }
}

.popup{
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 0%, 70%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display-section{
    width: 30vw;
    height: auto;
    position: relative;
}

.display-section .close-button{
    width: auto;
    height: 3vh;
    text-align: right;
    filter: invert(100%);
    position: absolute;
    top: -40px;
    right: 0;
    cursor: pointer;
}
.display-image{
    position: relative;
    display: flex;
    align-items: center;
}
.display-image .product{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.display-image button{
    width: 3vw;
    height: 3vw;
    position: absolute;
    background-color: hsl(0, 0%, 100%);
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}
.display-image .next{
    right: -24px;
}
.display-image .next img{
    top: 2px;
    position: relative;
    left: 2px;
}
.display-image .previous{
    left: -24px;
}
.display-image .previous img{
    top: 2px;
    position: relative;
    right: 2px;
}
.hidden{
    display: none;
}
@media only screen and (max-width: 1023px) {
    .popup-menu-section{
        width: 100vw;
        height: 100vh;
        background-color: hsl(0, 0%, 0%, 70%);
        position: fixed;
        top: 0;
    }
    .popup-menu{
        width: 70vw;
        height: 100%;
        background-color: white;
        padding: 30px;
        left: -100vw;
        position: relative;
        transition: left 1s;
    }
    .popup-menu img{
        width: auto;
        height: 3vh;
        cursor: pointer;
    }
    .popup-menu ul{
        list-style-type: none;
        margin-top: 40px;
    }
    .popup-menu ul li{
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 20px;
    }
}

